*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    
}
h1{
    
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 300px;
}
 h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    color: #007bff;
}
